<h4>Login</h4>

<%= form_for :user do |f| %>
    email: <%= f.text_field :email, placeholder: "Enter email" %> <br>
    password: <%= f.password_field :password, placeholder: "Enter password" %> <br>
    <%= f.submit "login" %>
<% end %>


<h4>Create Account</h4>

<%= form_for :user, url: "/users" do |f| %>
    username: <%= f.text_field :name %> <br>
    email: <%= f.text_field :email %> <br>
    password: <%= f.password_field :password %> <br>
    <%= f.submit "create account" %>
<% end %>