<tr>
  <td class="row">
    <div class="small-text subtext"><small><%= @comment.user.name %> <%= @comment.created_at%></small></div>
    <p class="comment-text"><%=@comment.body%></p>
    <br>
    <%= form_for :this do |f| %>
        <%= f.text_area :body %> <br>
        <%= f.submit "Add reply" %>
    <% end %>
  </td>
</tr>
