<h1>Sign up</h1>
<%= form_for :user, url: "/users" do |f| %>
    username: <%= f.text_field :name %>
    email: <%= f.text_field :email %>
    password: <%= f.password_field :password %>
    <%= f.submit "Submit" %>
<% end %>
