<h1>User profile for <span style="font-style: italic"><%= @user.name %></span></h1>

<p>User since: <%= @user.created_at.to_s[0...10] %></p>

<div style="border: 2px solid gray">
	<h4><%= @user.name %>'s posts</h4>
	<% @posts.each do |p| %>
		<div style="border: 1px solid black; background-color: orange">
			<span style="font-weight: bold"><%= p.title %></span>
			<br>
			<%= p.link %>
			<br>
			<%= p.created_at %>
		</div>
	<% end %>
</div>
