<!-- basic user info -->
<tr>
	<td class="row">
		<h3><%= @user.name %></span></h3>
		<div>user since: <%= @user.created_at.to_s[0...10] %></div>
	</td>
</tr>

<!-- user's posts -->
<tr style="border-top: 2px solid gray;">
	<td class="row">
		<%= @user.name %>'s posts (<%= @posts.count %>)
	</td>
</tr>

<% i = 1; @posts.each do |p| %>
	<tr>
		<td class="row">
			<span class="grey"><%= i %>. </span><div class="votearrow"></div><%= link_to p.title, "/post/" + p.id.to_s %><small> (<a class="small-text" href="<%=p.link%>"><%= p.link %></a>)</small>
			<div class="small-text subtext">
				<small>0 points by <%= link_to p.user.name, "/user/" + p.user.id.to_s %> created at <%= p.created_at %> | <a href="/post/<%= p.id %>"><%= p.comments.count %> comments</a></small>
			</div>
			<button class="js-delete-btn btn btn-danger" id="<%= p.id %>">Delete</button>
		</td>
	</tr>
	<% i = i + 1 %>
<% end %>

<!-- user's commets -->
<tr style="border-top: 2px solid gray;">
	<td class="row">
		<%= @user.name %>'s comments (<%= @comments.count %>)
	</td>
</tr>

<% i = 1; @comments.each do |c| %>
	<tr>
		<td class="row">
			<span class="grey"><%= i %>. </span><div class="votearrow"></div><%= link_to c.title, "/post/" + c.id.to_s %><small> (<a class="small-text" href="<%=p.link%>"><%= c.link %></a>)</small>
			<div class="small-text subtext">
				<small>0 points by <%= link_to p.user.name, "/user/" + c.user.id.to_s %> created at <%= c.created_at %> | <a href="/post/<%= c.id %>"><%= c.comments.count %> comments</a></small>
			</div>
			<button class="js-delete-btn btn btn-danger" id="<%= c.id %>">Delete</button>
		</td>
	</tr>
	<% i = i + 1 %>
<% end %>
