<!DOCTYPE html>
<html>
<head>
  <title>WdiSlackerNews</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<!-- could try adding data-no-turbolink="true" to body tag to prevent modals from flashing - hasn't worked yet -->

<%= render "partials/flash" %>

<!-- template table, including orange navbar -->
<table>
  <tbody>
	  <tr>
	    <td id="navbar" bgcolor="#ff6600">
	      <ul id="nav">
	        <li id="brand">S</li>
	        <li><strong><a href="/">Slacker News</a></strong></li>
	        <li>new</li> |
	        <li>comments</li> |
	        <li>show</li> |
	        <li>ask</li> |
	        <li>jobs</li> |
	        <li><a href="/post">submit</a></li>
	        <li id="login">
						<% if @current_user %>
							<p>signed in as <span style="font-style: italic"><%= link_to @current_user.name, "/user/" + @current_user.id.to_s %></span> | <%= link_to "logout", "/logout" %></p>
						<% else %>
							<p><%= link_to "login/signup", "/login" %></p>
						<% end %>
	        </li>
	      </ul>
	    </td>
	  </tr>

	  <!-- see posts/index.html.erb for example of what to include in indiviual view yield -->
			<!--  should start with <tr><td class="row"> -->
			<!--  and end with </td></tr> -->
		<%= yield %>

  </tbody>
</table>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js" crossorigin="anonymous"></script>
</body>
</html>
